/* Start Variables */
/* End Variables */
/* Start Global Rules */
*  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .container {
        width: 550px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container {
        width: 750px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 980px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .container {
        width: 1350px;
    }
}

/* Start Header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links:hover ul {
    display: block;
}

.header .links .icon {
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    height: 2px;
    background-color: #333;
    margin-bottom: 5px;
}

.header .links .icon span:first-child,
.header .links .icon span:last-child{
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: .3s;
}

.header .links ul {
    list-style: none;
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    background-color: #f6f6f6;
    min-width: 200px;
    margin: 0;
    padding: 0;
    display: none;
}
.header .links ul:before {
    content: "";
    position: absolute;
    right: 5px;
    top: -19px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
}

.header .links ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 15px;
    transition: .3s;
}

.header .links ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

/* End Header */


/* End Global Rules */
